*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 695px;
    padding: 16px 8px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    position: relative;
}


h1,
h2 {
    color: #082166;
}

h1,
h2,
h3,
h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 38px;
    line-height: 1.0;
}

h2 {
    font-size: 22px;
}

.profile {
    margin-top: 4px;
}

p {
    line-height: normal;
    text-wrap: pretty;
}

ul {
    line-height: normal;
}

/* General */
#cv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #0c4a6e;
    /* text-sky-900 */
    font-family: sans-serif;
}

/* Lists */
ul {
    list-style: disc;
    padding-left: 2rem;
    font-size: 14px;
}

/* Contact list */
.contact-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 16px;
    font-size: 14px;
}

.separator {
    display: none;
}


@media (min-width: 768px) {
    .contact-list {
        list-style: none;
        flex-direction: row;
        gap: 1.5rem;
        padding-left: 0;
    }

    .separator {
        display: inline-block;
    }
}

.experience-header {
    display: flex;
    gap: 6px;
}

.experience-header p {
    font-style: italic;
    align-self: center;
    padding-top: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Links */
a {
    color: #1d4ed8;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    line-height: 17px
}

.education p {
    font-style: italic;
}

.skills ul {
    font-size: 16px;
}

.experience a {
    font-size: 14px;
}

.experience ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pdf-link {
    display: inline-block;
    line-height: 1.2;
}