@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 720px;
    padding: 16px 8px;
    font-family: "Maven Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 18px;
}