@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


* {
    box-sizing: border-box;
}

body {
    --scroll-bg-color: #1b3a63;
    --light: #fff;
    --bg-color: #0f1520;
    --bg-hexagon-lines: #2b313d;
    --bg-hexagon-light: #fff1a2;
    --alt-bg-color: #001828;
    --input-color: #04101b;
    --p-color: #dbdad7;
    --title-color: #fffef5;
    --accent: #ffeb7c;
    --card-bg: #1b2538d8;
    --accent2: #1a86e5;
    --accent3: #DB9F1F;
    --accent2-gradient: linear-gradient(90deg, rgba(20, 106, 219, 1) 0%, rgba(20, 106, 219, 1) 50%, rgba(26, 134, 229, 1) 50%, rgba(26, 134, 229, 1) 100%);
    --border-color: #0a5291;

    --font-title: 'Outfit', sans-serif;
    --font-p: "Maven Pro", sans-serif;
    --font-code: 'Ubuntu Mono', monospace;

    font-family: var(--font-p);
    margin: 0 auto;
    padding: 0 8px 0 8px;
    max-width: 790px;
    height: 100svh;
    background-color: var(--bg-color);
    color: var(--p-color);
    display: flex;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--font-title);
    font-weight: bold;
}

h2,
h3 {
    font-size: 48px;
}

h1 {
    font-weight: 800;
}

.text-highlight {
    color: var(--accent);
}


main {
    overflow: scroll;
    /* o auto, según tu necesidad */
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para Internet Explorer y Edge antiguos */
}

main::-webkit-scrollbar {
    display: none;
    /* Para Chrome, Safari y Opera */
}

.link-list::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1px;
    background-color: var(--scroll-bg-color);
}

#scroll-thumb {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1px;
    background-color: var(--light);
    /* box-shadow: 0px 0px 8px 0px var(--light); */
    scale: 1 0.2;
    transition: scale .3s ease;
    transform-origin: top;
}

.nav-link {
    color: var(--title-color);
    transition: text-shadow .2s ease-out;
    font-family: var(--font-title);
}

.nav-link:hover {
    text-shadow: 0px 0px 10px var(--light);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: -28px;
    bottom: 0px;
    height: 10px;
    width: 10px;
    border-radius: 99999px;
    box-shadow: 0px 0px 0px 0px var(--light);
    background-color: var(--scroll-bg-color);
    transition: box-shadow .4s ease-in, background .5s ease;
}

.nav-link.light::before {
    box-shadow: 0px 0px 10px 0px var(--light);
    background-color: var(--light);
}

.button {
    position: relative;
    border-radius: 99999px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: var(--title-color);
    gap: 6px;
    cursor: pointer;
    min-width: 150px;
    height: 40px;
}

.button-1 {
    background-color: var(--accent);
    color: var(--bg-color);
    overflow: hidden;
    border: 2px solid transparent;
    transition: background .2s ease-out, border .2s ease-out, color .2s ease-out;
}

.button-1:hover {
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

.button-2 {
    background: var(--accent2);
    transition: filter .2s ease-out;
}

.button-2:hover {
    filter: brightness(1.2);
}

.projects {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);

}

.project-card {
    view-timeline: --card block 90% auto;
    animation-timeline: --card;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 16px;
    border: 1.5px solid var(--border-color);
    transition: border .2s ease-out;
    background-color: var(--card-bg);
    border-radius: 6px;

}


.card1,
.card3 {
    transform-origin: center left;
    animation-name: scroll-show;
}

.card2,
.card4 {
    transform-origin: center right;
    animation-name: scroll-show;
}

@keyframes scroll-show {
    from {
        opacity: 0;
        transform: scale(40%);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.project-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    overflow: hidden;
}

.project-card:hover {
    border: 1.5px solid var(--accent2);
}


.codeblock {
    border: 1px solid var(--accent2);
    border-radius: 12px;
    background-color: var(--alt-bg-color);
    font-family: var(--font-code);
    display: block;
    color: #57B3FF;
    font-size: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 6px 3px rgba(0, 0, 0, 0.1);
}

.mac-buttons {
    width: 14px;
    aspect-ratio: 1;
    background-color: #ff5f56;
    border-radius: 50%;
    position: relative;
    margin-right: 50px;
}

.mac-buttons::before {
    position: absolute;
    content: '';
    top: 0;
    left: 22px;
    width: 14px;
    aspect-ratio: 1;
    background-color: #ffbd2e;
    border-radius: 50%;
}

.mac-buttons::after {
    position: absolute;
    content: '';
    top: 0;
    left: 44px;
    width: 14px;
    aspect-ratio: 1;
    background-color: #27c93f;
    border-radius: 50%;
}

.code-header {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--bg-color);
    padding: 0 12px;
    border-bottom: 1px solid var(--accent2);
    color: var(--p-color);
}

.code-header h4 {
    padding: 8px 64px 8px 12px;
    font-size: 16px;
    font-weight: normal;
    background-color: var(--alt-bg-color);
    border-width: 0 1px 0 1px;
    border-color: var(--accent2);
    position: relative;
}

.code-header h4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background-color: var(--alt-bg-color);
}

.code-cross {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

code span {
    line-height: 1.9;
}

.hljs-string {
    color: #FFF176;
}

.hljs-title {
    color: #69F0AE;
}

.hljs-attr {
    color: #00EFFF;
}

.hljs-keyword {
    color: #7CA8FF;
}

.tag {
    font-size: 10px;
    padding: 2px 6px;
    background-color: var(--accent2);
    font-weight: 700;
    border-radius: 6px;
    color: #fff;
    border-radius: 9999px;
}

.tag.blue {
    background-color: #0e139b;
    color: #f6f6ff;
}

.tag.sky {
    background-color: #2374ae;
    color: #f6fbff;
}

.tag.orange {
    background-color: #a25916;
    color: #fffaf5;
}

.icon-color1 {
    color: #5e92d6;
}

.icon-color2 {
    color: var(--accent);
}

.link {
    position: relative;
    width: auto;
    color: var(--title-color);
}

.link-underline {
    position: absolute;
    color: var(--title-color);
    left: 0;
    bottom: 0;
}

.link-underline.over {
    position: absolute;
    color: #1a86e5;
}

.link .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0px;
    overflow: hidden;
    transition: width .2s ease-out;
    interpolate-size: allow-keywords;
    z-index: 10;
}

.link:hover .mask {
    width: 100%;
}

.typing-effect {
    position: absolute;
    right: 195px;
    bottom: 28px;
    font-size: 17px;
    width: 29ch;
    height: 24px;
    background-color: var(--alt-bg-color);
    pointer-events: none;
}

.typing-effect::after {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    content: '';
    width: 2px;
    height: 85%;
    background-color: var(--accent3);
    animation: cursor-blink 1s ease-out infinite;
}

.typing-effect.visible {
    animation: typing-2 3s steps(28, end) forwards;
}

.hero-typing {
    display: inline-block;
    vertical-align: bottom;
    text-wrap: nowrap;
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    animation: typing 2.5s steps(34, end) forwards;
}

@keyframes typing {
    to {
        width: 291px;
    }
}

@keyframes typing-2 {
    to {
        width: 0px;
    }
}

@keyframes cursor-blink {
    0% {
        height: 0%;
    }

    30%,
    70% {
        height: 85%;
    }

    100% {
        height: 0%;
    }
}

.background-effect {
    position: absolute;
    /* background: var(--bg-hexagon-lines); */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2090px;
    height: 1290px;
    max-width: 2090px;
    max-height: 1290px;
    overflow: hidden;
    z-index: -10;

}

.background-effect-hexagon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-color);
    z-index: -5;
}

.background-effect-ball {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    filter: blur(100px);
    background-color: var(--bg-hexagon-light);
    z-index: -5;
    transition: transform 2s linear;
}

.skills {
    color: var(--title-color);
    font-family: var(--font-code);
    border: 1px solid var(--border-color);
    background-color: var(--card-bg);
    view-timeline: --skills block 90% auto;
    animation-timeline: --skills;
    animation-name: scroll-show;
}

.course {
    background-color: var(--bg-color);
    border: 1px solid var(--accent2);
    animation-name: scroll-show;
}

.course1 {
    view-timeline: --course1 block 90% auto;
    animation-timeline: --course1;
    transform-origin: center left;
}

.course2 {
    view-timeline: --course2 block 95% auto;
    animation-timeline: --course2;
    transform-origin: center right;
}

.contact-form-container {
    font-family: var(--font-code);
    background-color: var(--alt-bg-color);
    border: 1px solid var(--accent2);
    z-index: 0;
}

.contact-form {
    color: var(--title-color);
}

.contact-form-container h2 {
    font-family: var(--font-code);
    font-size: 18px;
    background-color: var(--alt-bg-color);
    position: relative;
    z-index: 10;
    border-inline: 1px solid var(--accent2);
}

.contact-form-container h2::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 1px;
    width: 100%;
    background-color: var(--alt-bg-color);
}

.contact-form-symbol {
    color: var(--p-color)
}

.contact-form-command {
    color: var(--accent);
}

.contact-form-header {
    border-bottom: 1px solid var(--accent2);
    background-color: var(--input-color);
}

.contact-form input,
.contact-form textarea {
    background-color: var(--input-color);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    transition: .2s border ease-out;
    border-radius: 4px 4px 0 0;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: var(--accent);
}

.contact-form-button {
    width: max-content;
    align-self: center;
    background-color: var(--alt-bg-color);
    padding: 2px 32px;
    position: relative;
    border-radius: 2px;
    transition: .2s color ease-out, .2s background ease-out;
}

.contact-form-button:hover {
    background-color: var(--accent);
    color: var(--bg-color);
}

.contact-form-button::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 6px;
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 2px;
    background-color: var(--p-color);
}

.contact-form-button::after {
    content: "";
    position: absolute;
    right: -2px;
    top: -2px;
    width: 6px;
    height: calc(100% + 4px);
    z-index: -1;
    border-radius: 2px;
    background-color: var(--p-color);
}