@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


* {
    box-sizing: border-box;
}

body {
    --scroll-bg-color: #1b3a63;
    --light: #fff;
    --bg-color: #0f1520;
    --alt-bg-color: #001828;
    --p-color: #dbdad7;
    --title-color: #fffef5;
    --p-color-highlight: #ffeb7c;
    --accent: #004aaa;
    --card-bg: #1c2638;
    --accent2: #1a86e5;
    --accent3: #DB9F1F;
    --accent4: #3dd6b5;
    --accent2-gradient: linear-gradient(65deg, rgba(11, 115, 212, 1) 8%, rgba(147, 197, 245, 1) 45%, rgba(11, 115, 212, 1) 65%, rgba(0, 91, 183, 1) 100%);
    --border-color: #355781;

    --font-title: 'Outfit', sans-serif;
    --font-p: "Maven Pro", sans-serif;
    --font-code: 'Ubuntu Mono', monospace;

    font-family: var(--font-p);
    margin: 0 auto;
    padding: 0 8px 0 8px;
    max-width: 790px;
    height: 100svh;
    background-color: var(--bg-color);
    color: var(--p-color);
    display: flex;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--font-title);
    font-weight: bold;
}

h2,
h3 {
    font-size: 48px;
}

h1 {
    font-weight: 800;
}

.text-highlight {
    color: var(--p-color-highlight);
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 0.75rem;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.skills-list li {
    background: #e5e5e5;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 500;
}

main {
    overflow: scroll;
    /* o auto, según tu necesidad */
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para Internet Explorer y Edge antiguos */
}

main::-webkit-scrollbar {
    display: none;
    /* Para Chrome, Safari y Opera */
}

.link-list::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1px;
    background-color: var(--scroll-bg-color);
}

#scroll-thumb {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1px;
    background-color: var(--light);
    /* box-shadow: 0px 0px 8px 0px var(--light); */
    scale: 1 0.2;
    transition: scale .3s ease;
    transform-origin: top;
}

.nav-link {
    color: var(--title-color);
    transition: text-shadow .2s ease-out;
    font-family: var(--font-title);
}

.nav-link:hover {
    text-shadow: 0px 0px 10px var(--light);
}

.nav-link::before {
    content: '';
    position: absolute;
    left: -28px;
    bottom: 0px;
    height: 10px;
    width: 10px;
    border-radius: 99999px;
    box-shadow: 0px 0px 0px 0px var(--light);
    background-color: var(--scroll-bg-color);
    transition: box-shadow .4s ease-in, background .5s ease;
}

.nav-link.light::before {
    box-shadow: 0px 0px 10px 0px var(--light);
    background-color: var(--light);
}

.button {
    position: relative;
    border-radius: 99999px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: var(--title-color);
    gap: 6px;
    cursor: pointer;
    min-width: 144px;
    height: 34px;
}

.button-1 {
    background-color: var(--p-color-highlight);
    color: var(--bg-color);
    overflow: hidden;
}

.button-1:hover {
    background-color: transparent;
}

.button-2 {
    background: var(--accent2-gradient);
    background-size: 250% 115%;
    background-position: -250px -3px;
    transition: background .3s ease-out;
}

.button-2:hover {
    background-position: -3px -3px;
}

.button-3 {
    background-color: var(--accent3);
    overflow: hidden;
}


.button-3-arrow {
    position: absolute;
    left: 100%;
    top: 50%;
    height: 100%;
    width: max-content;
    transform: translate(-30%, -50%);
    border-radius: 50% 0 0 50%;
    background-color: #fff4;
    padding: 6px;
    transition: transform .2s ease-out;
}

.button-3 span,
.button-3 .icon {
    transform: translateX(0);
    transition: transform .2s ease-out;
}

.button-3:hover span,
.button-3:hover .icon {
    transform: translateX(-16px);
}

.button-3:hover .button-3-arrow {
    transform: translate(-34px, -50%);
}

.projects {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
    padding: 20px 16px;
    border: 1.5px solid var(--border-color);
    cursor: pointer;
    transition: border .2s ease-out;
    background-color: var(--card-bg);
    border-radius: 6px;
}


/* .card1 {
    grid-row: span 2 / span 2;
}

.card2 {
    grid-row: span 2 / span 2;
} */

/* .card3 {
    grid-row-start: 3;
}

.card4 {
    grid-row-start: 3;
} */

.project-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    overflow: hidden;
}

.project-card:hover {
    border: 1.5px solid var(--accent);
}


.codeblock {
    border: 1px solid var(--accent);
    border-radius: 12px;
    background-color: var(--alt-bg-color);
    font-family: var(--font-code);
    display: block;
    color: #57B3FF;
    font-size: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 6px 3px rgba(0, 0, 0, 0.1);
}

.mac-buttons {
    width: 14px;
    aspect-ratio: 1;
    background-color: #ff5f56;
    border-radius: 50%;
    position: relative;
    margin-right: 50px;
}

.mac-buttons::before {
    position: absolute;
    content: '';
    top: 0;
    left: 22px;
    width: 14px;
    aspect-ratio: 1;
    background-color: #ffbd2e;
    border-radius: 50%;
}

.mac-buttons::after {
    position: absolute;
    content: '';
    top: 0;
    left: 44px;
    width: 14px;
    aspect-ratio: 1;
    background-color: #27c93f;
    border-radius: 50%;
}

.code-header {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--bg-color);
    padding: 0 12px;
    border-bottom: 1px solid var(--accent);
    color: var(--p-color);
}

.code-header h4 {
    padding: 8px 64px 8px 12px;
    font-size: 16px;
    font-weight: normal;
    background-color: var(--alt-bg-color);
    border-width: 0 1px 0 1px;
    border-color: var(--accent);
    position: relative;
}

.code-header h4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background-color: var(--alt-bg-color);
}

.code-cross {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

code span {
    line-height: 1.9;
}

.hljs-string {
    color: #FFF176;
}

.hljs-title {
    color: #69F0AE;
}

.hljs-attr {
    color: #00EFFF;
}

.hljs-keyword {
    color: #7CA8FF;
}

.tag {
    font-size: 10px;
    padding: 2px 6px;
    background-color: var(--accent2);
    font-weight: 700;
    border-radius: 6px;
    color: #fff;
    border-radius: 9999px;
}

.tag.blue {
    background-color: #0e139b;
    color: #f6f6ff;
}

.tag.sky {
    background-color: #2374ae;
    color: #f6fbff;
}

.tag.orange {
    background-color: #a25916;
    color: #fffaf5;
}

.icon-color1 {
    color: #5e92d6;
}

.icon-color2 {
    color: var(--p-color-highlight);
}

.link {
    position: relative;
    width: auto;
    color: var(--title-color);
}

.link-underline {
    position: absolute;
    color: var(--title-color);
    left: 0;
    bottom: 0;
}

.link-underline.over {
    position: absolute;
    color: #1a86e5;
}

.link .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0px;
    overflow: hidden;
    transition: width .2s ease-out;
    interpolate-size: allow-keywords;
    z-index: 10;
}

.link:hover .mask {
    width: 100%;
}