---
const { title, subtitle } = Astro.props;
---

<section class="">
    {title && <h1 class="text-blue-900">{title}</h1>}
    {subtitle && <h2 class="text-blue-900">{subtitle}</h2>}
    <slot />
</section>
