---
import Education from "../components/CV/Education.astro";
import Experience from "../components/CV/Experience.astro";
import LinkCV from "../components/CV/LinkCV.astro";
import SectionCV from "../components/CV/SectionCV.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/CV.css";
---

<Layout title="CV - Byron Vargas Hernández">
    <main class="flex flex-col gap-4 text-sky-900">
        <header>
            <ul
                class="ml-4 flex flex-col gap-2 list-disc md:ml-0 md:list-none md:flex-row md:gap-6 text-sm"
            >
                <li>
                    <LinkCV
                        url="https://wa.me/+50672062036"
                        title="+506 7206 2036"
                    />
                </li>
                <span class="hidden md:inline">-</span>
                <li>
                    <LinkCV
                        url="mailto:byronjvh02@gmail.com"
                        title="byronjvh02@gmail.com"
                    />
                </li>
                <span class="hidden md:inline">-</span>
                <li>
                    <LinkCV
                        url="https://linkedin.com/in/byronjvh"
                        title="LinkedIn"
                    />
                </li>
                <span class="hidden md:inline">-</span>
                <li>
                    <LinkCV url="https://github.com/byronjvh" title="GitHub" />
                </li>
            </ul>
        </header>
        <SectionCV title="BYRON VARGAS HERNÁNDEZ" subtitle="WEB DEVELOPER">
            <p>
                Creative and adaptable Web Developer seeking to contribute to a
                collaborative team and drive innovative projects. A quick
                learner with a proven ability to work effectively in groups and
                ensure project completion. Passionate about crafting valuable
                digital experiences through modern web solutions.
            </p>
        </SectionCV>
        <SectionCV subtitle="EXPERIENCE">
            <div class="flex flex-col gap-4">
                <Experience
                    title="CR Tech - Technology Sales Advisor and Desktop Support"
                    date="June 2024 – Present"
                    keys={[
                        "Drove a 25% increase in store sales by providing expert technology sales and technical support for desktop equipment in a highly collaborative team environment.",
                        "Developed deep knowledge of desktop systems, general technology, and best practices for customer communication and service.",
                        "Collaborated with team members to meet store targets and improve customer experience.",
                    ]}
                />
                <Experience
                    title="Popix - Online Image Editor"
                    description="A free, online image editor built with React and Canvas, designed for easy, in-browser image enhancements and adjustments."
                    year="2024"
                    url="https://github.com/byronjvh/PopixImageEditor"
                    keys={[
                        "Integrated editing tools for brightness, contrast, saturation, and blur.",
                        "Engineered core editing features including brightness, contrast, saturation, and blur adjustments.",
                    ]}
                />
                <Experience
                    title="4 Images 1 Word"
                    description="A game built with React, where players guess the word from four images, offering an engaging challenge."
                    year="2023"
                    url="https://github.com/byronjvh/4Imagenes1Palabra"
                    keys={[
                        "Built a highly interactive user experience in React, utilizing the Context API for efficient global state management.",
                        "Implemented LocalStorage to persist game progress, enhancing the dynamic and responsive user experience.",
                    ]}
                />
            </div>
        </SectionCV>
        <SectionCV subtitle="EDUCATION">
            <div class="flex flex-col gap-2">
                <Education
                    title="Computer Science"
                    institute="Universidad Fidélitas · 2027"
                />
                <Education
                    title="Specialization in Web Design and Development"
                    institute="Universidad Fidélitas · 2025"
                />
            </div>
        </SectionCV>
        <SectionCV subtitle="SKILLS">
            <ul class="list-disc pl-8">
                <li>
                    <strong>Languages & Frameworks:</strong> HTML, CSS, JavaScript,
                    React, Next.js, Astro
                </li>
                <li>
                    <strong>Developer Tools:</strong> Git, GitHub, API, SEO, Testing,
                    Deploy
                </li>
                <li>
                    <strong>Core Competencies:</strong> Leadership, Communication,
                    Teamwork, Problem Solving, Responsive Design, Frontend, Adaptability,
                    Agile
                </li>
            </ul>
        </SectionCV>
    </main>
    <button
        class="absolute right-1 top-2 font-bold text-sm px-4 rounded-full text-blue-900 bg-transparent border-2 border-blue-900 h-8 hover:bg-blue-900 hover:text-white transition-colors duration-200 cursor-pointer ease-out"
        >Download CV</button
    >
</Layout>
