---
import Layout from "../layouts/Layout.astro";
import "../styles/CV.css";
---

<Layout title="CV - Byron Vargas Hernández">
    <main id="cv" class="">
        <header>
            <ul class="contact-list">
                <li>
                    <a
                        href="https://wa.me/+50672062036"
                        target="_blank"
                        rel="noopener noreferer">+506 7206 2036</a
                    >
                </li>
                <span class="separator">-</span>
                <li>
                    <a
                        href="mailto:byronjvh02@gmail.com"
                        target="_blank"
                        rel="noopener noreferer">byronjvh02@gmail.com</a
                    >
                </li>
                <span class="separator">-</span>
                <li>
                    <a
                        href="https://linkedin.com/in/byronjvh"
                        target="_blank"
                        rel="noopener noreferer">linkedin.com/in/byronjvh</a
                    >
                </li>
                <span class="separator">-</span>
                <li>
                    <a
                        href="https://github.com/byronjvh"
                        target="_blank"
                        rel="noopener noreferer">github.com/byronjvh</a
                    >
                </li>
            </ul>
        </header>
        <section>
            <h1 class="">BYRON VARGAS HERNÁNDEZ</h1>
            <h2 class="">WEB DEVELOPER</h2>
            <p class="profile">
                Creative and adaptable Web Developer with a strong foundation in
                modern frontend technologies like React, Next.js, and Astro.
                Skilled in building responsive, user-focused applications and
                bringing problem-solving, teamwork, and communication experience
                from a background in technology sales and support.
            </p>
        </section>
        <section class="experience">
            <h2 class="">EXPERIENCE</h2>
            <div class="container">
                <article class="">
                    <h3>
                        CR Tech - Technology Sales Advisor and Desktop Support
                    </h3>
                    <p class="">June 2024 – Present</p>
                    <ul class="">
                        <li>
                            Increased in-store sales by 25% through expert
                            technology consulting and desktop support.
                        </li>
                        <li>
                            Gained hands-on experience with hardware/software
                            troubleshooting and client communication.
                        </li>
                        <li>
                            Collaborated with team members to meet sales targets
                            and enhance customer satisfaction.
                        </li>
                    </ul>
                </article>
                <article class="">
                    <div class="experience-header">
                        <h3>FPS Calculator</h3>
                        <p class="">2025</p>
                    </div>

                    <p>
                        Application that allows you to select your PC
                        configuration and calculate FPS in popular games.
                    </p>

                    <span class="pdf-link">
                        <a
                            class=""
                            href="https://github.com/byronjvh/PopixImageEditor"
                            target="_blank"
                            rel="noopener noreferer"
                        >
                            GitHub
                        </a>
                    </span>

                    <ul class="">
                        <li>
                            Web app that estimates game FPS performance based on
                            user hardware.
                        </li>
                        <li>
                            Integrated external API calls via a secure backend
                            proxy.
                        </li>
                        <li>
                            Built with React + Vite, ensuring responsive and
                            fast user interactions.
                        </li>
                    </ul>
                </article>
                <article class="">
                    <div class="experience-header">
                        <h3>Popix - Online Image Editor</h3>
                        <p class="">2024</p>
                    </div>

                    <p>
                        Free, online image editor built with React and Canvas,
                        designed for easy, in-browser image enhancements and
                        adjustments.
                    </p>

                    <span class="pdf-link">
                        <a
                            class=""
                            href="https://github.com/byronjvh/PopixImageEditor"
                            target="_blank"
                            rel="noopener noreferer"
                        >
                            GitHub
                        </a>
                    </span>

                    <ul class="">
                        <li>
                            Integrated editing tools for brightness, contrast,
                            saturation, and blur.
                        </li>
                        <li>
                            Engineered core editing features including
                            brightness, contrast, saturation, and blur
                            adjustments.
                        </li>
                    </ul>
                </article>
                <article class="">
                    <div class="experience-header">
                        <h3>4 Images 1 Word</h3>
                        <p class="">2023</p>
                    </div>

                    <p>
                        Game built with React, where players guess the word from
                        four images, offering an engaging challenge.
                    </p>
                    <span class="pdf-link">
                        <a
                            class=""
                            href="https://github.com/byronjvh/4Imagenes1Palabra"
                            target="_blank"
                            rel="noopener noreferer"
                        >
                            GitHub
                        </a>
                    </span>

                    <ul class="">
                        <li>
                            Built a highly interactive user experience in React,
                            utilizing the Context API for efficient global state
                            management.
                        </li>
                        <li>
                            Implemented LocalStorage to persist game progress,
                            enhancing the dynamic and responsive user
                            experience.
                        </li>
                    </ul>
                </article>
            </div>
        </section>
        <section class="education">
            <h2 class="">EDUCATION</h2>
            <div class="container">
                <article>
                    <h3>Computer Science</h3>
                    <p class="">Universidad Fidélitas · 2027</p>
                </article>
                <article>
                    <h3>Specialization in Web Design and Development</h3>
                    <p class="">Universidad Fidélitas · 2025</p>
                </article>
            </div>
        </section>
        <section class="skills">
            <h2 class="">SKILLS</h2>
            <ul class="">
                <li>
                    <strong>Languages & Frameworks:</strong> HTML, CSS, JavaScript,
                    React, Next.js, Astro
                </li>
                <li>
                    <strong>Developer Tools:</strong> Git, GitHub, API, SEO, Testing,
                    Deploy
                </li>
                <li id="">
                    <strong>Core Competencies:</strong> Leadership, Communication,
                    Teamwork, Problem Solving, Responsive Design, Frontend, Adaptability,
                    Agile
                </li>
            </ul>
        </section>
    </main>
    <button
        id="download"
        class="absolute right-1 top-2 font-bold text-sm px-4 rounded-full text-blue-900 bg-transparent border-2 border-blue-900 h-8 hover:bg-blue-900 hover:text-white transition-colors duration-200 cursor-pointer ease-out"
        >Download CV</button
    >

    <script type="module" is:inline>
        const btn = document.getElementById("download");
        btn.addEventListener("click", () => {
            const element = document.getElementById("cv");
            html2pdf()
                .from(document.getElementById("cv"))
                .set({
                    letterRendering: true,
                    pagebreak: { mode: "avoid-all" },
                    margin: [0.2, 0.605, 0, 0.605],
                    filename: "Byron_Vargas_CV.pdf",
                    image: { type: "jpeg", quality: 1 },
                    html2canvas: {
                        scale: 2,
                        width: 695 + 5,
                        useCORS: true,
                        scrollY: 0,
                    },
                    jsPDF: {
                        unit: "in",
                        format: "a4",
                        orientation: "portrait",
                    },
                })
                .save();
        });
    </script>
</Layout>
