---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import ButtonLink from "./ButtonLink.astro";
import Card from "./Card.astro";
import CodeBlock from "./CodeBlock.astro";
import Arrow from "./icons/Arrow.astro";
import DownloadArrow from "./icons/DownloadArrow.astro";
import GitHub from "./icons/GitHub.astro";
import Linkedin from "./icons/Linkedin.astro";
import Resume from "./icons/Resume.astro";
import RightArrow from "./icons/RightArrow.astro";
import Web from "./icons/Web.astro";
import Section from "./Section.astro";
---

<main
	id="container"
	class="overflow-y-scroll scroll-smooth snap-y max-h-svh pr-10"
>
	<Section id="home" className="pl-2">
		<div class="flex flex-col gap-7 text-balance">
			<div class="flex flex-col gap-4">
				<h1 class="text-8xl -translate-x-1">Byron Vargas Hernández</h1>
				<p class="text-lg leading-6">
					Desarrollo soluciones digitales que mejoran la experiencia
					del usuario y marcan la diferencia, combinando innovación y
					precisión.
				</p>
			</div>
			<div class="flex gap-3 items-center">
				<ButtonLink url="" className="button-1 flex-1 py-2 px-8">
					<GitHub size="18" /> Ver GitHub
				</ButtonLink>
				<ButtonLink url="" className="button-2 flex-1 py-2 px-8"
					><Linkedin size="18" /> Conectar</ButtonLink
				>
				<ButtonLink url="" className="button-3 flex-1 py-2 px-8"
					><Resume className="icon" size="22" />
					<span class="text-nowrap">Descargar CV</span>
					<DownloadArrow className="button-3-arrow" />
				</ButtonLink>
			</div>
		</div>
		<span
			class="absolute animate-bounce left-1/2 -translate-x-1/2 bottom-30"
		>
			<Arrow size="18" />
		</span>
	</Section>

	<Section
		id="projects"
		className="flex-col justify-center items-center gap-4 pl-2"
	>
		<h2 class="">Proyectos</h2>
		<div class="relative w-full">
			<div class="projects flex flex-wrap items-start gap-6">
				<Card className="flex-1 w-full" />
				<Card
					className="w-[250px] shrink-0"
					description="Una app de gestión de tareas por equipos"
				/>
				<Card
					className="w-[250px]"
					description="Una app de gestión de tareas por equipos"
				/>
				<Card className="flex-1 w-full" />
				<Card className="flex-1 w-full" />
				<Card
					className="w-[250px]"
					description="Una app de gestión de tareas por equipos"
				/>
			</div>
		</div>
	</Section>

	<!-- About Section -->
	<Section
		id="about"
		className="about flex-col justify-center items-start pl-2"
	>
		<CodeBlock
			code={`
  const Byron = {
    perfil: "Frontend Developer que ama el diseño limpio, el código
			 legible y los cafés bien amargos.",
    stack: ["JavaScript", "React", "Next.js", "Astro", "Tailwind"],
	herramientas: ["Git", "GitHub", "Figma", "Vercel", "Agile"],
	superpoderes: [
		"👀 Si algo se mueve 1px, me doy cuenta",
    	"⚡ Aprender rápido",
    	"🤝 Trabajo en equipo"
	],
	mision: "Ayudar a convertir ideas en realidad digital."
  }

  console.log("🚀 Ejecutando perfil:", Byron);
	`}
		/>
	</Section>

	<!-- Skills Section -->
	<Section id="skills" className="flex-col justify-center items-start">
		<h2>Tecnologías</h2>
		<p>
			Me especializo en Desarrollo Web Front End con tecnologías modernas,
			pero también exploro el Back End para tener una visión completa.
		</p>
		<ul class="skills-list">
			<li>React</li>
			<li>JavaScript</li>
			<li>Tailwind CSS</li>
			<li>Next.js</li>
			<li>TypeScript</li>
			<li>SQLite / Node (aprendiendo)</li>
		</ul>
		<section class="">
			<h2>Estudios</h2>
			<div class="experience-card">
				<h3>Curso de Desarrollo Web</h3>
				<p>
					Programa intensivo de formación en desarrollo web moderno,
					centrado en tecnologías como React, Git, CSS y diseño
					responsivo.
				</p>
			</div>
			<div class="experience-card">
				<h3>Proyectos autodidactas</h3>
				<p>
					Aprendizaje constante mediante la construcción de proyectos
					personales, desde clones de apps hasta herramientas útiles.
				</p>
			</div>
		</section>
	</Section>

	<!-- Contact Section -->
	<Section id="contact" className="flex-col justify-center items-start">
		<h2>Contacto</h2>
		<p>
			¿Una idea en mente o un proyecto en camino? Estoy abierto a
			colaboraciones y oportunidades.
		</p>
		<button onclick="window.location.href='mailto:byron@example.com'"
			>Escríbeme</button
		>
	</Section>
</main>
