---
import Button from "./Button.astro";
import Card from "./Card.astro";
import CodeBlock from "./CodeBlock.astro";
import Arrow from "./icons/Arrow.astro";
import DownloadArrow from "./icons/DownloadArrow.astro";
import GitHub from "./icons/GitHub.astro";
import Linkedin from "./icons/Linkedin.astro";
import Popix from "./icons/Popix.astro";
import Fourimg from "./icons/Fourimg.astro";
import Resume from "./icons/Resume.astro";
import Section from "./Section.astro";
import Link from "./Link.astro";
import GridList from "./GridList.astro";
---

<main id="container" class="overflow-y-scroll scroll-smooth max-h-svh pr-10">
	<Section id="home" className="pl-2">
		<div class="flex flex-col gap-7">
			<div class="flex flex-col gap-4">
				<h1 class="text-8xl -translate-x-1 text-balance">
					Byron Vargas Hernández
				</h1>
				<p class="text-lg w-full leading-6">
					Desarrollo soluciones digitales que mejoran la experiencia
					del usuario y marcan la <span class="text-highlight"
						>diferencia</span
					>, <span class="hero-typing"
						>combinando
						<span class="text-highlight">innovación</span> y
						<span class="text-highlight">precisión</span>.</span
					>
				</p>
			</div>
			<div class="flex gap-3 items-center">
				<Button url="" className="button-1">
					<GitHub size="18" /> Ver GitHub
				</Button>
				<Button url="" className="button-2"
					><Linkedin size="18" /> Conectar</Button
				>
				<Link title="Descargar CV" />
			</div>
		</div>
		<span
			class="absolute animate-bounce left-1/2 -translate-x-1/2 bottom-30"
		>
			<Arrow size="18" />
		</span>
	</Section>

	<Section
		id="projects"
		className="flex-col justify-center items-start gap-6 pl-2"
	>
		<div class="flex flex-col w-full items-center text-center">
			<h2 class="leading-15">Mi trabajo</h2>
			<p class="max-w-[500px] text-balance">
				Proyectos creados con precisión y propósito para ofrecer
				experiencias inolvidables.
			</p>
		</div>
		<div class="relative w-full">
			<div class="projects">
				<Card
					className="card1"
					title="Popix Editor"
					img="src/assets/popix.png"
					description="🌅 Editor de imágenes, rápido, online y gratis."
					tags={[
						["ReactJS", "blue"],
						["Tailwind", "sky"],
						["HTMLCanvas", "orange"],
					]}
				>
					<div class="h-24 flex justify-start items-end">
						<Fourimg size="80" />
					</div>
				</Card>
				<Card
					className="card2"
					title="4Imagenes1Palabra"
					img="src/assets/4i1p.png"
					description="🎮 Adivina la palabra a partir de las cuatro imágenes."
				>
					<div class="h-24 flex items-end">
						<Popix size="80" />
					</div>
				</Card>
				<Card className="card3" title="Texto de ejemplo" />
				<Card className="card4" title="Texto de ejemplo" />
			</div>
		</div>
	</Section>

	<!-- About Section -->
	<Section
		id="about"
		className="about flex-col justify-center items-start pl-2"
	>
		<CodeBlock
			code={`
  const Byron = {
    perfil: "Frontend Developer que ama el diseño limpio, el código
			 legible y los cafés bien amargos.",
    stack: ["JavaScript", "React", "Next.js", "Astro", "Tailwind"],
	herramientas: ["Git", "GitHub", "Figma", "Vercel", "Agile"],
	superpoderes: [
		"👀 Si algo se mueve 1px, me doy cuenta",
    	"⚡ Aprender rápido",
    	"🤝 Trabajo en equipo"
	],
	mision: "Ayudar a convertir ideas en realidad digital."
  }

  console.log("🚀 Ejecutando perfil:", Byron);
	`}
		/>
	</Section>

	<!-- Skills Section -->
	<Section id="skills" className="flex-col justify-center items-start gap-4">
		<div>
			<h2>Tecnologías</h2>
			<p>
				Me especializo en crear interfaces web modernas y pensadas para
				el usuario. Cuido los detalles, combinando diseño, rendimiento y
				buenas prácticas.
			</p>
		</div>
		<div class="skills p-6 rounded-lg w-full flex flex-col gap-1">
			{"> skills --list"}
			<GridList
				icon="✔️"
				items={[
					"React",
					"JavaScript",
					"TypeScript",
					"Next JS",
					"Astro",
					"MySQL",
					"Git",
					"Tailwind",
					"HTML",
					"CSS",
				]}
			/>
		</div>
		<div>
			<h2>Educación</h2>
			<div class="flex flex-col gap-4">
				<div class="p-3.5 flex flex-col gap-0.5 rounded-lg course">
					<h4>🎓 Computer Science</h4>
					<p class="text-sm">Universidad Fidélitas · 2027</p>
					<p class="text-xs opacity-70">
						Carrera universitaria enfocada en fundamentos de
						programación, estructuras de datos, bases de datos y
						sistemas informáticos.
					</p>
				</div>
				<div class="p-3.5 flex flex-col gap-0.5 rounded-lg course">
					<h4>💻 Especialización en Diseño y Desarrollo Web</h4>
					<p class="text-sm">Universidad Fidélitas · 2025</p>
					<p class="text-xs opacity-70">
						Formación práctica en Bootstrap, JavaScript, JQuery,
						MySQL, AJAX, PHP y Wordpress.
					</p>
				</div>
			</div>
		</div>
		<!-- <section class="">
			<h2>Estudios</h2>
			<div class="experience-card">
				<h3>Curso de Desarrollo Web</h3>
				<p>
					Programa intensivo de formación en desarrollo web moderno,
					centrado en tecnologías como React, Git, CSS y diseño
					responsivo.
				</p>
			</div>
			<div class="experience-card">
				<h3>Proyectos autodidactas</h3>
				<p>
					Aprendizaje constante mediante la construcción de proyectos
					personales, desde clones de apps hasta herramientas útiles.
				</p>
			</div>
		</section> -->
	</Section>

	<!-- Contact Section -->
	<Section id="contact" className="flex-col justify-center items-start">
		<h2>Contacto</h2>
		<p>
			¿Una idea en mente o un proyecto en camino? Estoy abierto a
			colaboraciones y oportunidades.
		</p>
		<button onclick="window.location.href='mailto:byron@example.com'"
			>Escríbeme</button
		>
	</Section>
</main>
