---
import Button from "./Button.astro";
import Card from "./Card.astro";
import CodeBlock from "./CodeBlock.astro";
import Arrow from "./icons/Arrow.astro";
import DownloadArrow from "./icons/DownloadArrow.astro";
import GitHub from "./icons/GitHub.astro";
import Linkedin from "./icons/Linkedin.astro";
import Popix from "./icons/Popix.astro";
import Fourimg from "./icons/Fourimg.astro";
import Resume from "./icons/Resume.astro";
import Section from "./Section.astro";
import Link from "./Link.astro";
import GridList from "./GridList.astro";
import Cap from "./icons/Cap.astro";
import Cross from "./icons/Cross.astro";
---

<main id="container" class="overflow-y-scroll scroll-smooth max-h-svh pr-10">
	<Section id="home" className="pl-2">
		<div class="flex flex-col gap-7">
			<div class="flex flex-col gap-4">
				<h1 class="text-8xl -translate-x-1 text-balance">
					Byron Vargas Hernández
				</h1>
				<p class="text-lg w-full leading-6">
					Desarrollo soluciones digitales que mejoran la experiencia
					del usuario y marcan la <span class="text-highlight"
						>diferencia</span
					>, <span class="hero-typing"
						>combinando
						<span class="text-highlight">innovación</span> y
						<span class="text-highlight">precisión</span>.</span
					>
				</p>
			</div>
			<div class="flex gap-3 items-center">
				<Button url="https://github.com/byronjvh" className="button-1">
					<GitHub size="18" /> Ver GitHub
				</Button>
				<Button
					url="https://www.linkedin.com/in/byronjvh/"
					className="button-2"><Linkedin size="18" /> Conectar</Button
				>
				<Link url="/CV" title="Descargar CV" />
			</div>
		</div>
		<span
			class="absolute animate-bounce left-1/2 -translate-x-1/2 bottom-30"
		>
			<Arrow size="18" />
		</span>
	</Section>

	<Section
		id="projects"
		className="flex-col justify-center items-start gap-6 pl-2"
	>
		<div class="flex flex-col w-full text-center">
			<h2 class="leading-15">Mi trabajo</h2>
			<p class="max-w-[600px] text-balance">
				Proyectos creados con precisión y propósito para ofrecer
				experiencias inolvidables.
			</p>
		</div>
		<div class="relative w-full">
			<div class="projects">
				<Card
					className="card1"
					title="Popix Editor"
					description="🌅 Editor de imágenes, rápido, online y gratis."
					tags={[
						["ReactJS", "blue"],
						["Tailwind", "sky"],
						["HTMLCanvas", "orange"],
					]}
					,
					isHighlight="true"
					github="https://github.com/byronjvh/PopixImageEditor"
					page="https://byronjvh.github.io/PopixImageEditor/"
				>
					<div class="h-24 pl-0.5 flex items-end">
						<Popix size="80" />
					</div>
				</Card>
				<Card
					className="card2"
					title="4Imagenes1Palabra"
					description="🎮 Adivina la palabra a partir de las cuatro imágenes."
					isHighlight="true"
					github="https://github.com/byronjvh/4Imagenes1Palabra"
					page="https://byronjvh.github.io/4Imagenes1Palabra/"
				>
					<div class="h-24 pl-0.5 w-max flex items-end">
						<Fourimg size="80" />
					</div>
				</Card>
				<Card className="card3" title="Texto de ejemplo" />
				<Card className="card4" title="Texto de ejemplo" />
			</div>
		</div>
	</Section>

	<Section
		id="about"
		className="about flex-col justify-center items-start pl-2"
	>
		<CodeBlock
			code={`
  const Byron = {
    perfil: "Frontend Developer que ama el diseño limpio, el código
	        legible y los cafés bien amargos.",
    tecnologias: [
	  "JavaScript", "React", "Next.js", "Astro", "Tailwind", "MySQL"
	],
	superpoderes: [
	  "👀 Si algo se mueve 1px, me doy cuenta",
      "⚡ Aprender rápido",
      "🤝 Trabajo en equipo"
	],
    mision: "Ayudar a convertir ideas en realidad digital."
  }

  console.log("🚀 Ejecutando perfil:", Byron);
	`}
		/>
	</Section>

	<Section id="skills" className="flex-col justify-center items-start gap-4">
		<div>
			<h2>Tecnologías</h2>
			<p class="text-balance">
				Me especializo en crear interfaces web modernas y pensadas para
				el usuario. Cuido los detalles, combinando diseño, rendimiento y
				buenas prácticas.
			</p>
		</div>
		<div class="skills p-6 rounded-lg w-full flex flex-col gap-1">
			{"> skills --list"}
			<GridList
				icon="✔️"
				items={[
					"React",
					"JavaScript",
					"TypeScript",
					"Next JS",
					"Astro",
					"MySQL",
					"Git",
					"Tailwind",
					"HTML",
					"CSS",
					"Figma",
					"Agile",
				]}
			/>
		</div>
		<div class="education">
			<h2>Educación</h2>
			<div class="flex flex-col gap-5 mt-1">
				<article
					class="p-3.5 flex flex-col gap-0.5 rounded-lg course course1"
				>
					<h4 class="flex items-center gap-1">
						<span><Cap size="18" /></span> Computer Science
					</h4>
					<p class="text-sm">Universidad Fidélitas · 2027</p>
					<p class="text-xs opacity-70">
						Carrera universitaria enfocada en fundamentos de
						programación, estructuras de datos, bases de datos y
						sistemas informáticos.
					</p>
				</article>
				<article
					class="p-3.5 flex flex-col gap-0.5 rounded-lg course course2"
				>
					<h4>💻 Especialización en Diseño y Desarrollo Web</h4>
					<p class="text-sm">Universidad Fidélitas · 2025</p>
					<p class="text-xs opacity-70">
						Formación práctica en Bootstrap, JavaScript, JQuery,
						MySQL, AJAX, PHP y Wordpress.
					</p>
				</article>
			</div>
		</div>
	</Section>

	<Section id="contact" className="flex-col justify-center items-start">
		<div class="contact-form-container w-full rounded-md">
			<div
				class="contact-form-header w-full px-4 gap-4 flex items-center"
			>
				<div class="mac-buttons h-min"></div>
				<h2 class="pl-3 pr-10 py-2">
					Contacto <span class="code-cross"
						><Cross
							className="cross-icon"
							rotate="45"
							size="18"
						/></span
					>
				</h2>
				<Cross className="plus-icon" rotate="0" size="18" />
			</div>
			<form
				class="contact-form flex flex-col gap-4 pl-6 pr-8 pb-6 pt-3"
				action=""
			>
				<p>
					<span>{">"}</span> Escuchando ideas y solicitudes de colaboración...
				</p>
				<div class="flex flex-col gap-0.5">
					<label class="text-lg" for="name">
						<span class="contact-form-symbol">$ </span>

						<span class="contact-form-command">echo </span>

						"Nombre: "</label
					>
					<span class="flex gap-2 items-center">
						{">"}
						<input
							class="contact-form-input w-full py-1 px-2"
							type="text"
							name="name"
							id="name"
							placeholder="Pablito C"
						/>
					</span>
				</div>
				<div class="flex flex-col gap-0.5">
					<label class="text-lg" for="name">
						<span class="contact-form-symbol">$ </span>

						<span class="contact-form-command">echo </span>

						"Email: "</label
					>
					<span class="flex gap-2 items-center">
						{">"}
						<input
							class="contact-form-input w-full py-1 px-2"
							type="email"
							name="email"
							id="email"
							placeholder="pablitoc@email.com"
						/>
					</span>
				</div>
				<div class="flex flex-col gap-0.5">
					<label class="text-lg" for="name">
						<span class="contact-form-symbol">$ </span>

						<span class="contact-form-command">echo </span>

						"Mensaje: "</label
					>
					<span class="flex gap-2">
						{">"}
						<textarea
							class="w-full py-1 px-2 resize-none"
							name="message"
							id="message"
							placeholder="Quiero trabajar contigo!"></textarea>
					</span>
				</div>
				<button
					class="cursor-pointer mt-1 font-bold contact-form-button"
					>Enviar</button
				>
				<div class="flex flex-col mt-1">
					<span
						>{"$"}
						<span class="contact-form-command">open </span><a
							class="underline"
							href="https://github.com/byronjvh"
							>github.com/byronjvh</a
						></span
					>
					<span
						>{"$"}
						<span class="contact-form-command">open </span><a
							class="underline"
							href="https://linkedin.com/in/byronjvh"
							>linkedin.com/in/byronjvh</a
						></span
					>
					<span
						>{"$"}
						<span class="contact-form-command">open </span><a
							class="underline"
							href="https://wa.me/+50672062036"
							>wa.me/+50672062036</a
						></span
					>
				</div>
			</form>
		</div>
	</Section>
</main>
