---
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<title>Byron Vargas Hernández - Portfolio</title>
		<meta
			name="description"
			content="Portfolio de Byron Vargas Hernández - Desarrollo Web Front End con un enfoque en experiencia de usuario e innovación."
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<slot />
		<Nav />
		<script type="module" is:client>
			// Codeblock
			import hljs from "https://cdn.jsdelivr.net/npm/highlight.js@11.9.0/+esm";

			window.addEventListener("DOMContentLoaded", () => {
				hljs.highlightAll();
			});

			//Typing effect
			const typingEffect = document.getElementById("typing-effect");
			const observer = new IntersectionObserver(
				(entries) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							typingEffect?.classList.add("visible");
							console.log(
								"Elemento visible en pantalla:",
								entry.target,
							);
							observer.unobserve(entry.target);
						}
					});
				},
				{
					threshold: 0.9,
				},
			);

			const codeBlock = document.getElementById("codeBlock");
			if (codeBlock) observer.observe(codeBlock);
		</script>
	</body>
</html>
